<section class="container px-5">
  <div class="mx-auto p-4">
    <h2 class="tittle-section p-3 mx-auto my-3 fuenteG fw-bold text-center">
      Experiencia
    </h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col col-md-4 img-estrella text-md-end text-center">
        <a href="https://www.facebook.com/compu.shop.3/" target="_blank">
          <img src="../../../assets/img/xp/compusho.jpg" />
        </a>
      </div>
      <div class="col col-md-6">
        <p class="text-md-start text-center fw-bold">
          Cuento con experiencia de 1 año en el area de Tecnico y Reparacion de
          Computadoras, Notebook e Impresoras. En un local de mi ciudad, llamado
          Compushop.
        </p>
      </div>
    </div>
    <hr class="mx-md-5" size="7" />
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col col-md-4 img-estrella text-md-end text-center">
        <a href="https://www.linkedin.com/in/rodrigo-romano22/" target="_blank">
          <img src="../../../assets/img/xp/iconprogramador.png" />
        </a>
      </div>
      <div class="col col-md-6">
        <p class="text-md-start text-center fw-bold">
          Tambien cuento con experiencia realizando varios proyectos en el area
          de Front-End Developer.
        </p>
      </div>
    </div>
  </div>
</section>
