:root {
  --primary: #30c4c9;
  --secondary: #130e0e;
  --bg-celeste: rgb(214, 245, 234);
}
body {
  color: var(--secondary);
  background-color: var(--bg-celeste);
  transition: 0.1s;
}
body.dark-theme {
  color: white;
  background-color: var(--secondary);
  transition: 0.1s;
}
a {
  text-decoration: none;
}
.fuenteG {
  font-family: "Signika Negative", sans-serif;
}
hr {
  color: var(--primary);
  border-radius: 8px;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 22px;
}
.tittle-section {
  width: 190px;
  border-radius: 9px;
  background-color: var(--primary);
  box-shadow: 0 15px 20px #144c4e;
  color: var(--secondary);
}
.button-primary {
  width: 130px;
  height: 50px;
  padding: 1px;
  border: 2px solid var(--primary);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: var(--primary);
  border-radius: 12px;
}
.button-primary::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--primary);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.button-primary:hover::before {
  width: 105%;
}

.button-primary:hover {
  color: #111;
}
i {
  cursor: pointer;
}
/* animaciones */

.animacion {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
