<section class="container mx-auto my-4 animacion fadeIn">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col align-self-center">
      <div class="container-fluid bg-primario p-2" *ngIf="edu">
        <h1 class="text-center my-4 fw-bold fuenteG">Editar experiencia</h1>
        <form
          class="container mx-auto my-4"
          [formGroup]="form"
          (submit)="editEdu()"
        >
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col form__group field mx-auto mb-2">
              <input
                class="form__field"
                type="text"
                formControlName="nombre"
                [(ngModel)]="edu.nombre_inst"
              />
              <label class="form__label fuenteG fw-bold" for="name">
                Institución
              </label>
            </div>
            <div class="col form__group field mx-auto">
              <input
                class="form__field"
                type="text"
                formControlName="titulo"
                [(ngModel)]="edu.titulo"
              />
              <label class="form__label fuenteG fw-bold" for="text"
                >Titulo</label
              >
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
            <div class="col form__group field mx-auto">
              <input
                class="form__field"
                type="text"
                formControlName="enlace"
                [(ngModel)]="edu.enlace"
              />
              <label class="form__label fuenteG fw-bold" for="text"
                >Pagina Web</label
              >
            </div>
            <div class="col form__group field mx-auto">
              <input
                class="form__field"
                type="text"
                formControlName="fecha"
                [(ngModel)]="edu.fecha"
              />
              <label class="form__label fuenteG fw-bold" for="text"
                >Fecha</label
              >
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
            <div class="col form__group field mx-auto">
              <input
                class="form__field"
                type="text"
                formControlName="img"
                [(ngModel)]="edu.logo_inst"
              />
              <label class="form__label fuenteG fw-bold" for="text"
                >Imagen URL</label
              >
            </div>
          </div>
          <div class="text-center mt-5">
            <p *ngIf="form.invalid" class="text-danger fw-bold">
              Rellena los campos correctamente
            </p>
            <button class="mt-2 enviar fuenteG fw-bold" *ngIf="form.valid">
              Editar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col align-self-center">
      <img src="../../../assets/img/programing1.gif" class="img-fluid" />
    </div>
  </div>
</section>
