<section class="container p-4 my-3">
  <h2 class="tittle-section p-3 mx-auto my-3 fuenteG fw-bold text-center">
    Habilidades
  </h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 mt-2 fuenteG">
    <div *ngFor="let habFor of hab">
      <div class="col text-center">
        <div class="container">
          <div class="position-relative">
            <div
              *ngIf="isAdmin"
              class="text-md-end text-center position-absolute top-0 end-0"
            >
              <button
                type="button"
                class="btn btn-warning mx-1"
                routerLink="/editHab/{{ habFor.id_hab }}"
              >
                <i class="bi bi-pen text-light"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger mx-1"
                (click)="borrarHabilidad(habFor.id_hab)"
              >
                <i class="bi bi-trash3"></i>
              </button>
            </div>
          </div>
          <circle-progress
            [percent]="habFor.nivel_hab"
            [radius]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            imageSrc="{{ habFor.logo_hab }}"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#30c4c9'"
            [innerStrokeColor]="'#130e0e'"
            [animation]="true"
            [animationDuration]="1000"
          ></circle-progress>
        </div>
        <a
          class="my-2 text-dark fw-bold"
          href="{{ habFor.enlace }}"
          target="_blank"
        >
          {{ habFor.nombre_hab }} : {{ habFor.nivel_hab }}%
        </a>
      </div>
    </div>
    <div *ngIf="isAdmin" class="text-center align-self-center">
      <button type="button" class="btn btn-success mx-1" routerLink="/addHab">
        <i class="bi bi-plus-circle"></i> Añadir
      </button>
    </div>
  </div>
</section>
