<section class="container p-4 my-3">
  <h2 class="tittle-section p-3 mx-auto my-3 fuenteG fw-bold text-center">
    Habilidades
  </h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 mt-2 fuenteG">
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="90"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/html.png'"
          [showImage]="true"
          [imageHeight]="60"
          [imageWidth]="60"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://developer.mozilla.org/es/docs/Web/HTML"
        target="_blank"
      >
        HTML : 90%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="75"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/JavaScript-logo.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://developer.mozilla.org/es/docs/Web/JavaScript"
        target="_blank"
      >
        JavaScript : 75%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="60"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/typescript.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://www.typescriptlang.org/"
        target="_blank"
      >
        TypeScript : 60%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="60"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/angular.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://angular.io/"
        target="_blank"
      >
        Angular : 60%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="90"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/logocss.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://developer.mozilla.org/es/docs/Web/CSS"
        target="_blank"
      >
        CSS : 90%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="90"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/bootstrap-logo.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://getbootstrap.com/docs/5.0/getting-started/introduction/"
        target="_blank"
      >
        Bootstrap : 90%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="75"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/git.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://git-scm.com/"
        target="_blank"
      >
        Git : 75%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="75"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/github.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://github.com/"
        target="_blank"
      >
        GitHub : 75%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="50"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/java.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://www.java.com/es/"
        target="_blank"
      >
        Java : 50%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="50"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/mysql.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://www.mysql.com/"
        target="_blank"
      >
        MySql : 50%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="25"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/logoPhotoshop.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://www.adobe.com/ar/products/photoshop.html"
        target="_blank"
      >
        Photoshop : 25%
      </a>
    </div>
    <div class="col text-center">
      <div class="container">
        <circle-progress
          [percent]="50"
          [radius]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [imageSrc]="'../../../assets/img/icons/figma.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#30c4c9'"
          [innerStrokeColor]="'#130e0e'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <a
        class="my-2 text-dark fw-bold"
        href="https://www.figma.com/"
        target="_blank"
      >
        Figma : 50%
      </a>
    </div>
  </div>
</section>
