<section class="container p-3 mx-auto my-3">
  <h2 class="tittle-section p-3 mx-auto my-3 fuenteG fw-bold text-center">
    Proyectos
  </h2>
  <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 mt-2 fuenteG">
    <div *ngFor="let proyFor of proyec">
      <div class="col contenedor0">
        <div class="contenedor">
          <div class="tarjeta">
            <div class="image">
              <a href="{{ proyFor.enlace }}" target="_blank">
                <img src="{{ proyFor.img_proyec }}" />
              </a>
            </div>
            <div class="divTexto">
              <h4>{{ proyFor.titulo }}</h4>
              <p>Fecha : {{ proyFor.fecha }}</p>
              <p>{{ proyFor.descripcion }}</p>

              <a href="{{ proyFor.enlace }}" target="_blank">
                <button class="mt-2 fw-bold button-primary" type="submit">
                  Ir
                </button>
              </a>
              <div *ngIf="login" class="text-center mt-1">
                <button
                  type="button"
                  class="btn btn-warning mx-1 text-light p-1"
                  routerLink="/editProy/{{ proyFor.id_proyec }}"
                >
                  <i class="bi bi-pen"></i>Editar
                </button>
                <button
                  type="button"
                  class="btn btn-danger mx-1 text-light p-1"
                  (click)="borrarProyec(proyFor.id_proyec)"
                >
                  <i class="bi bi-trash3"></i>Borrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="login" class="text-center align-self-center">
      <button
        type="button"
        class="btn btn-success mx-1 p-2 rounded-circle"
        routerLink="/addProy"
      >
        <i class="bi bi-plus-circle"></i>
      </button>
    </div>
  </div>
</section>
