<header class="container my-5 animacion fadeIn">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div
      class="col text-md-end text-center align-self-center"
      *ngIf="acerca_de"
    >
      <div class="position-relative">
        <img src="{{ acerca_de.img_perfil }}" class="img-rodri img-fluid" />
      </div>
    </div>
    <div class="col align-self-center" *ngIf="acerca_de">
      <div class="position-relative">
        <div class="container-title titulo text-center p-3 fuenteG fw-bold">
          <h1>{{ acerca_de.nombre_apellido }}</h1>
          <h2>{{ acerca_de.titulo }}</h2>
        </div>
      </div>
      <div class="mt-4 p-3">
        <p class="fw-bold">
          {{ acerca_de.descripcion }}
        </p>
        <div *ngIf="isAdmin" class="text-center">
          <button
            type="button"
            class="btn btn-warning text-light p-1"
            routerLink="/editAcerca_de/{{ acerca_de.id_acerca_de }}"
          >
            <i class="bi bi-pen"></i> Editar
          </button>
        </div>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="position-relative">
        <img
          src="https://i.ibb.co/GFCqcn4/programing1-unscreen.gif"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</header>
