<header class="container my-5" id="inicio">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col text-md-end text-center align-self-center">
      <img src="../../../assets/img/rodrigo.jpg" class="img-rodri img-fluid" />
    </div>
    <div class="col align-self-center">
      <div class="container-title text-center p-3 fuenteG fw-bold">
        <h1>Rodrigo Rodrigo</h1>
        <h2>Desarrollador Web Full Stack Jr</h2>
      </div>
      <div class="mt-4">
        <p class="fw-bold">
          Mi nombre es Ezequiel Rodrigo Romano, tengo 21 años y soy Programador
          Web Full Stack Jr y Tecnico Superior en Computacion y Redes.
        </p>
      </div>
    </div>
    <div class="col align-self-center">
      <img src="../../../assets/img/programing2.gif" class="img-fluid" />
    </div>
  </div>
</header>
