/* header */
.img-rodri {
  width: 190px;
  border-radius: 50%;
  border: 4px solid var(--primary);
  object-fit: contain;
}
.container-title {
  background-color: var(--primary);
  color: var(--secondary);
}
button {
  border-radius: 40%;
}
