/* header */
.img-rodri {
  width: 190px;
  border-radius: 50%;
  border: 4px solid var(--primary);
  object-fit: contain;
  cursor: default;
}
.container-title {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 12px;
  box-shadow: 0 15px 20px #144c4e;
}
button {
  border-radius: 15%;
}
