.img-AP {
  width: 80px;
  height: 50px;
  object-fit: contain;
}
.img-Inti {
  width: 120px;
  height: 50px;
  object-fit: contain;
}
.img-red {
  width: 50px;
  height: 30px;
  object-fit: contain;
}
