<footer>
  <div class="bg-dark p-3 text-center fuenteG p-5">
    <div class="row mx-auto redS">
      <div class="col">
        <a href="https://www.instagram.com/rodri_oficial001/" target="_blank">
          <i class="bi bi-instagram text-light"></i>
        </a>
      </div>
      <div class="col">
        <a href="https://www.linkedin.com/in/rodrigo-romano22/" target="_blank">
          <i class="bi bi-linkedin text-light"></i>
        </a>
      </div>
      <div class="col">
        <a href="https://github.com/RodrigoProgram22" target="_blank">
          <i class="bi bi-github text-light"></i>
        </a>
      </div>
    </div>
    <div class="my-4 mx-auto">
      <a href="mailto:rodrigoprograma22@gmail.com" target="_blank">
        <p class="text-primario">rodrigoprograma22@gmail.com</p>
      </a>
    </div>
    <div class="mx-auto mt-3">
      <p class="text-light">
        © 2022 Todos los derechos reservados Ezequiel Rodrigo Romano
      </p>
    </div>
  </div>
</footer>
